<h1>Hello, World!</h1>

<p> {{nome}} </p>
<p>{{getSobrenome()}}</p>

<p>{{cliente.nome}}</p>

<button (click)="clicouNoBotao()">CLIQUE AQUI!!!</button>

<!-- VERSÃO JS PURO -->
<!-- <button onclick="clicouNoBotao()">CLIQUE AQUI!!!</button> -->

<br>
<input type="text" placeholder="Informe seu nome" 
      (change)="onInputNomeChange($event)">

<br><br>
<input type="text" 
        (keydown)="onInputKeyDown($event)"
        (keyup)="onInputKeyUp($event)"
        (keypress)="onInputKeyPress($event)"> 
        
<br> <br>

<button *ngIf="isAtivo; else meuBlocoElse">ESSE BOTÃO DEVE SUMIR</button>
<button *ngIf="nome == 'TESTE'">ESSE BOTÃO DEVE SUMIR (João)</button>

<ng-template #meuBlocoElse>
  <button>ESSE BOTÃO É O ELSE</button>
</ng-template>

<br><br><br>

<table border="1">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Ativo</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.ativo}}</td>
    </tr>
  </tbody>
</table>